
  
.nav {
    padding: 2% 10%;
    display: flex;
    background: radial-gradient(circle at 100% 0%, #79046A,  #1A0655);
    flex-direction: row;
    width: 100%;
}
.nav img{
    width: 10%;
    height: 10%;
}
.nav-text{
    color: white;
    float: right;
    font-size: 2rem;
}